# Node
node_modules/
**/node_modules/
.npm/

# Build outputs
/dist/
/build/
/.expo/
.expo/
/android/
/ios/
*.log

# Env
.env
**/.env

# Vite/Expo
/.cache/
/.turbo/
.expo-shared/

# OS
.DS_Store
Thumbs.db
